@font-face {
    font-family: Poppins-Bold;
    src: url("assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Light;
    src: url("assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-Thin;
    src: url("assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url("assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1.21em;
    font-family: Poppins, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    line-height: 1.21em;
}

@media (max-width: 768px) {
    html, body {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    html, body {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    html, body {
        font-size: 12px;
    }
}

